* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgba(31, 134, 11, 0.404);
}

section {
    width: 100%;
    margin: 0% auto;
    padding: 0px;
}

#cabz {
    width: 100%;
    vertical-align: top;
    display: inline-block;
    margin: 0% auto;
    padding: 0px;
}

#c-img {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#img_prin {
    width: 100%;
    height: 100%;
}

#text {
    text-align: center;
    display: block;
    position: absolute;
    bottom: 0%;
    height: 100%;
    width: 100%;
    padding: 10px 20px;
    color: rgba(2, 228, 21, 0.596);
    font-size: 350%;
    background-color: rgba(20, 36, 15, 0.474);
}

#des {
    text-align: center;
    color: black;
    font-size: 20px;
    color: rgba(211, 248, 210, 0.849);
}

#a-b {
    background-color: rgba(5, 126, 35, 0.575);
    text-align: center;
    margin-top: 12px;
    border-radius: 10px;
    margin: 10px;
    border-color: black;
}

#que-es {
    font-size: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(5, 122, 71, 0.678);
    display: inline-block;
    width: 22%;
    margin-left: 10px;
    text-align: center;
    margin-top: 50px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
}

#img-que-es {
    width: 85%;
    border-radius: 50%;
}

#indice {
    margin-top: 0px;
    background: rgba(0, 0, 0, 0.123);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: black;
}


/*pagina que es la basura*/

#pagina_01 {
    background-color: rgba(0, 0, 0, 0.514);
}

#titulo-01 {
    background-color: rgba(0, 0, 0, 0.171);
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

#titulo-01 h1 {
    margin-top: 5px;
    text-align: center;
    font-size: 60px;
}

#a-b_01 {
    background-color: rgba(5, 126, 35, 0.226);
    margin-top: 12px;
    border-radius: 10px;
    margin: 10px;
    border-color: black;
}

#a-b_01 h3 {
    color: rgb(0, 0, 0);
    margin-left: 10px;
    font-size: 27px;
    text-align: justify;
    margin-right: 10px;
}

#Subtema {
    font-size: 40px;
    text-align: left;
}

#imagen-de-ejemplo {
    float: right;
    margin-right: 10px;
    width: 300px;
    margin-left: 20px;
}

#Subtema_00 {
    margin-left: 29px;
}

#Subtema_01 {
    font-size: 32px;
    text-align: left;
    color: rgba(0, 0, 0, 0.809);
}

#text-S-T_01 {
    margin-left: 30px;
}


/*para pantalla de telefonos*/

@media only screen and (min-width: 20px) and (max-width: 968px) {
    /*pagina 01*/
    #cabz {
        width: 100%;
        vertical-align: text-bottom;
        display: inline-block;
        margin: 0% auto;
        padding: 0px;
    }
    #text {
        text-align: center;
        display: block;
        position: absolute;
        bottom: 0%;
        height: 100%;
        width: 100%;
        padding: 10px 20px;
        color: rgba(2, 228, 21, 0.596);
        font-size: 100%;
        background-color: rgba(20, 36, 15, 0.474);
    }
    #des {
        text-align: center;
        font-size: 12px;
        color: rgba(211, 248, 210, 0.775);
    }
    section {
        width: 100%;
        margin: 0% auto;
        padding: 0px;
    }
    #a-b {
        background-color: rgba(5, 126, 35, 0.575);
        text-align: center;
        margin-top: 12px;
        border-radius: 10px;
        margin: 10px;
        border-color: black;
        font-size: 10px;
    }
    /*pagina 02*/
    #img_qes {
        width: 100%;
    }
    #cabz_q {
        width: 100%;
        vertical-align: top;
        display: inline-block;
    }
    #c-img {
        width: 100%;
        position: relative;
        overflow: hidden;
    }
    #text_q {
        text-align: center;
        display: block;
        position: absolute;
        bottom: 0%;
        height: 100%;
        width: 100%;
        padding: 10px 20px;
        color: rgba(255, 255, 255, 0.705);
        font-size: 160%;
        background-color: rgba(0, 0, 0, 0.474);
    }
    #des_q {
        text-align: center;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.747);
    }
    #titulo-01 h1 {
        margin-top: 5px;
        text-align: center;
        font-size: 40px;
    }
    #imagen-de-ejemplo {
        float: right;
        margin-right: 10px;
        width: 200px;
        margin-left: 20px;
    }
    #a-b_01 h3 {
        color: rgb(0, 0, 0);
        margin-left: 10px;
        font-size: 27px;
        text-align: justify;
        margin-right: 10px;
    }
}